.dash-B {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #233e5e;
    height: 50px;
    color: white;
}

.dash-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
    grid-gap: 16px;
    justify-content: center;
}
