.home-img-div {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

.home-img {
  width: 100%;
  opacity: .85;
  object-fit: cover;
}

.hands-img {
  height: 484px;
}

.home-img-txt {
  position: absolute;
  width: 70%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  line-height: 52px;
}

.home-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #F4F4F4;
  width: 250px;
  font-size: 16px;
  line-height: 19px;
  padding: 30px;
  vertical-align: middle;
  border-radius: 100px;
  border: 1px solid #777777;
  color: #777777 !important;
}

.call-to-action {
  background: #f4f4f4;
  padding: 20px;
}

.cta-intro {
  padding-left: 20px;
}
.cta-intro p {
  padding-left: 20px;
}

.cta-grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-column-gap: 12px;
  padding: 20px;
}

.cta-action {
  padding: 16px;
  border-left: 8px solid #009E95 !important;
  background: white;
  border-radius: 8px;
}

.cta-action:hover {
  box-shadow: 2px 2px 2px #999999;
}

.cta-head {
  font-weight: 500;
  padding-bottom: 8px;
}

.our-story {
  padding-left: 40px;
}

.our-story p {
  padding-left: 20px;
  max-width: 700px;
  font-size: 20px;
  line-height: 28px;
}

.home-title {
  font-size: 30px;
}