/* PAGE */

.App {
  color: #777777;
}

body {
  font-family: 'Roboto';
  text-align: center;
}

body,
.pure-g [class*=pure-u] {
  background: white;
}

form {
  display: grid;
  grid-gap: 8px;
  text-align: left;
  /* justify-content: center; */
}

/* h1, h2, h3 {
  font-family: 'Roboto','Oswald', 'Arial Narrow', sans-serif;
} */

.pageTitle {
  /* color: #233e5e; */
}

code {
  display: block;
  /* margin: 20px 0 15px 0; */
  padding: 10px;
  /* background: #eee; */
}

.container {
  box-sizing: border-box;
  width: 100%;
  /* padding: 45px 20px; */
}

.container-1 {
  padding: 20px;
}

.acc-text-box {
  width: 400px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.nav {
  width: 100%;
  height: 60px;
  /* padding: 5px; */
  background: #F4F8FB;
  z-index: 1;
  display: inline-table;
  color: #000000 !important;
  vertical-align: middle;
}
.nav > span {
  vertical-align: middle;
  padding: 8px;
}

.nav-title {
  position: relative;
  font-weight: 700;
  float: left;
  border-bottom: none !important;
  text-decoration-line: none;
  padding: 6px;
}

.nav-logo {
  top: 10px;
  padding-left: 24px;
}

.nav-name {
  top: 18px;
}

.nav-link {
  color: #000000 !important;
  text-decoration-line: none;
  width: 100%;
  align-content: initial;
  padding: 6px;
  vertical-align: -webkit-baseline-middle;
  margin: 4px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  border-bottom: #00569E solid 4px;
}

.path-focus {
  font-weight: bold;
  border-bottom: #00569E solid 4px;
}

.nav-right {
  float: right;
  display: inline-flex;
  line-height: 52px;
}

.nav-signin-btn {
  border: 1px solid #00569E;
  color: #00569E;
  border-radius: 40px;
  font-weight: bold;
  height: 40px;
  width: 100px;
  line-height: 36px;
  text-align: center;
}

.nav-signin-btn:hover {
  opacity: .4;
}

/* .navbar a {
  color: #fff;
} */


/* .pure-menu-heading {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: x-large;
  padding: 2px;
  padding-left: 24px;
  padding-right: 24px;

} */

.userInfo {
  position: relative;
  padding: 5px;
  padding-bottom: 10px;
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /* height: 150px; */
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.p-title {
  font-size: 30px;
  line-height: 1px;
}

.fin-btn {
  color: #00569E;
  font-weight: bold;
  width: 359px;
  height: 60px;
  border-radius: 100px;
  font-size: 22px;
  background: #FFFFFF;
  z-index: .7;
  line-height: 58px;
}

.sml-fin-btn {
  color: #00569E;
  font-weight: bold;
  border-radius: 100px;
  border: 2px solid #00569E;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 6px;
}

.sml-fin-btn:hover {
  background: #F4F8FB;
}

.fin-title {
  color: #333333;
  font-weight: bold;
}

.top-btm {
  padding-top: 16px;
  padding-bottom: 16px;

}

.gradient-btn {
  background: linear-gradient(240.07deg, #3393B1 10.05%, #00569E 90.6%);
  margin: 8px;
  border-radius: 100px;
  color: white;
  font-size: 16px;
  font-weight: 300;
  padding: 18px;
  vertical-align: middle;
  width: 359px;
  height: 60px;
  text-align: center;
}





.v {
  padding-bottom: 20px;
  padding-top: 20px;
  display: inline-block;
  text-align: center;
}

.v > h1 {
  font-size: 50px;
}

.v > p {
  width: 80%;
  line-height: 40px;
  font-size: 26px;
  display: inline-block;
  padding-bottom: 16px;
}

.v-m {
  background: #F4F8FB;
  padding: 10px;
  padding-left: 50px;
  padding-bottom: 100px;
  padding-top: 24px;
  margin-top: 24px;
}

.v-m > h2 {
  padding-bottom: 24px;
}

.form-btn {
  float: right;
  background: linear-gradient(240.07deg, #3393B1 10.05%, #00569E 90.6%);
  border-radius: 100px;
  color: white;
  font-size: 16px;
  width: 191px;
  height: 40px;
}

.receiver-instructions {
  width: 300px;
  height: 346px;
  font-size: 16px;
  text-align: left;
}

.small-pri-btn {
  border-radius: 100px;
  background: linear-gradient(240.07deg, #3393B1 10.05%, #00569E 90.6%);
  color: #FFFFFF;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}