/* PAGE */

.App {
  color: #777777;
}

body,
.pure-g [class*=pure-u] {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  background: white;
}

form {
  display: grid;
  grid-gap: 8px;
  /* justify-content: center; */
}

h1, h2, h3 {
  font-family: 'Roboto','Oswald', 'Arial Narrow', sans-serif;
}

.pageTitle {
  /* color: #233e5e; */
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  /* background: #eee; */
}

.container {
  box-sizing: border-box;
  width: 100%;
  /* padding: 45px 20px; */
}

.acc-text-box {
  width: 400px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.nav {
  width: 100%;
  height: 60px;
  /* padding: 5px; */
  background: #f4f4f4;
  font-family: 'Roboto','Oswald', 'Arial Narrow', sans-serif;
  z-index: 1;
  display: inline-table;
  color: #000000 !important;
  vertical-align: middle;
}
.nav > span {
  vertical-align: middle;
  padding: 8px;
}

.color-box {
  background-color: #009E95;
  width: 6px;
  height: 6px;
  border-radius: 2px;
  margin: 10px;
  margin-top: 15px !important;
}
.nav-title {
  position: relative;
  float: left;
  border-bottom: none !important;
  text-decoration-line: none;
  font-size: x-large;
  padding: 6px;
  color: #000000 !important;
}

.nav-link {
  color: #000000 !important;
  font-family: 'Roboto', 'Oswald';
  text-decoration-line: none;
  width: 100%;
  align-content: initial;
  padding: 6px;
  vertical-align: -webkit-baseline-middle;
  margin: 4px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  border-bottom: #009E95 solid 4px;
}

/* .navbar a {
  color: #fff;
} */


/* .pure-menu-heading {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: x-large;
  padding: 2px;
  padding-left: 24px;
  padding-right: 24px;

} */

.userInfo {
  position: relative;
  padding: 5px;
  padding-bottom: 10px;
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /* height: 150px; */
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}